* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1D2C37;
}

:root {
  --color-border-spreadsheet: #334958;
  --color-text-header: #4E6C82;
  --color-text-cell-not-focused: #708A9C;
  --color-text-cell: #05ec00;
  --color-white: #fff;
}
